body {
    background-color: black;
    align-items: center;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ui, #res {
    width: auto;
    margin-top: 20px;
    text-align: center;
}

h1, h2, h3, p, label {
    color: white;
}

.negative {
    color: rgb(216, 119, 63);
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

summary {
  color: white;
}

details {
  border-bottom: 1px solid white;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid white;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

details summary:after {
  content: "+";
  color: white;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

#searchButton {
    width: 200px;
    background: #000;
    backface-visibility: hidden;
    border-radius: 20px;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;  
}

#searchButton:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  #searchButton:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  #searchButton:focus {
    outline: 0 solid transparent;
  }
  
  #searchButton:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  #searchButton:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  #searchButton:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  #searchButton:not(:disabled):active {
    transform: translateY(.125rem);
  }

::placeholder {
    text-align: center; 
}

input {
  width: max-content;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 20px;
    margin: 10px;
}

.CityInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#radio input {
	width: auto;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	background: #454857;
	color: #bdbdbdbd;
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
  margin: 10px;
}

#radio input:checked {
	background-image: linear-gradient(180deg, #ffffff, #d3d3d3);
	color: #000;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

#radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

#checkbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#checkbox input {
	width: max-content;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	background: #454857;
	color: #bdbdbdbd;
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

#checkbox input:checked {
	background-image: linear-gradient(180deg, #ffffff, #d3d3d3);
	color: #000;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

#checkbox input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

a {
  color: darkgray
}

a:hover {
  color: gray;
}

footer {
  padding: 20px;
  font-family: 'Courier New', monospace;
  font-size: 10px;
  background: black;
  border-top: 1px solid white;
  text-align: center;
  position: relative;
}

img {
  width: 100px;
}

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: #000;
  backface-visibility: hidden;
  border-radius: 20px;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

#topButton:not(:disabled):hover {
  transform: scale(1.05);
}

#topButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#topButton:focus {
  outline: 0 solid transparent;
}

#topButton:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#topButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#topButton:focus:not(:focus-visible):before {
  border-width: 0;
}

#topButton:not(:disabled):active {
  transform: translateY(.125rem);
}