body {
    background-color: black;
    align-items: center;
    font-family: 'Courier New', monospace;
}

#ui, #res {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1, h2, h3, p, label {
    color: white;
}

#searchButton {
    border-radius: 8px;
    padding: 5px 24px;
}

::placeholder {
    text-align: center; 
}

input {
    text-align: center;
    background: #fff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 12px 18px;
}